{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">
        {% for post in posts|slice:":5" %}
        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url({{post.thumbnail.url}})"></div>
              <div class="contents">
                <span class="caption">{{post.auther.user.username}}</span>
                <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
                <p class="mb-3">{{post.overview}}</p>

                <div class="post-meta">
                  <span class="d-block">

                    {% for cat in post.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}

                  </span>
                  <span class="date-read">{{post.time_upload}}<span class="mx-1">&bullet;</span>{{post.read}} reads <span class="icon-star2"></span></span>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2>Editor's Pick</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href="post-single.html"><img src="{{author_post.0.thumbnail.url}}" alt="Image" class="img-fluid"></a>
                  <h2><a href="blog-single.html">{{author_post.0.title}}</a></h2>
                  <p>{{author_post.0.overview}}</p>
                  <div class="post-meta">
                    <span class="d-block">
                       {% for cat in author_post.0.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
                    </span>
                    <span class="date-read">{{author_post.0.time_upload|timesince}} ago<span class="mx-1">&bullet;</span><b>Author :</b> {{author_post.0.auther.user.username}} <span class="icon-star2"></span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                {% for post in author_post|slice:"1:" %}
                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url({{post.thumbnail.url}})"></div>
                  <div class="contents">
                    <h2><a href="blog-single.html">{{post.title}}</a></h2>
                    <div class="post-meta">
                      <span class="d-block">

                        {% for cat in post.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
                      </span>
                      <span class="date-read">{{post.time_upload|timesince}} ago<span class="mx-1">&bullet;</span> {{post.read}} reads <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-title">
              <h2>Trending</h2>
            </div>
            {% for trend in trends %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{forloop.counter}}</div>
              <div class="trend-contents">
                <h2><a href="blog-single.html">{{trend.title}}</a></h2>
                <div class="post-meta">
                  <span class="d-block">

                    {% for cat in trend.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}


                  </span>
                  <span class="date-read">{{trend.time_upload|timesince}} ago<span class="mx-1">&bullet;</span> {{trend.read}} reads <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}

            <p>
              <a href="{% url 'view_all' 'trending' %}" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- END section -->

    <div class="py-0">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url({{posts.0.thumbnail.url}})"></div>
          <div class="contents">
            <span class="caption">{{posts.0.auther}}</span>
            <h2><a href="blog-single.html">{{post.0.title}}</a></h2>
            <p class="mb-3">{{posts.0.overview}}</p>

            <div class="post-meta">
              <span class="d-block">
                {% for cat in posts.0.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
              </span>
              <span class="date-read">{{posts.0.time_upload}} <span class="mx-1">&bullet;</span> {{posts.0.read}} reads <span class="icon-star2"></span></span>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <h2>Recent Posts</h2>
            </div>
            {% for post in posts %}
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url({{post.thumbnail.url}})"></div>
              <div class="contents order-md-1 pl-0">
                <span class="caption mb-4 d-block">{{post.auther.user.username}}</span>
                <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
                <p class="mb-3">{{post.overview}}</p>
                <div class="post-meta">
                  <span class="d-block">
                    {% for cat in post.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
                  </span>
                  <span class="date-read">{{post.time_upload}} <span class="mx-1">&bullet;</span> {{post.read}} reads <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-lg-3">
            <div class="section-title">
              <h2>Popular Posts</h2>
            </div>
            {% for post in pop_post %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{forloop.counter}}</div>
              <div class="trend-contents">
                <h2><a href="blog-single.html">{{post.title}}</a></h2>
                <div class="post-meta">
                  <span class="d-block">

                    {% for cat in post.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
                  </span>
                  <span class="date-read">{{post.time_uplaod|timesince}} ago<span class="mx-1">&bullet;</span> {{post.read}} reads<span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}

            <p>
              <a href="{% url 'view_all' 'popular' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>

        <div class="row">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="#">{{posts.number}}</a></li>
              {% if posts.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="site-section subscribe bg-light">
      <div class="container">
        <form action="#" class="row align-items-center">
          <div class="col-md-5 mr-auto">
            <h2>Newsletter Subcribe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!</p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="d-flex">
              <form>
                <input type="email" class="form-control" placeholder="Enter your email" name='email' required>
                <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}










